<!-- 
    TODO: Change button colors to match hr
 -->
<div class="container registration-container">
    <h1 style="text-align: center;" i18n="@@landing-welcome">Welcome to the MyDHR FoodAssistance Client Access
        Portal</h1>
    <p style="text-align: center;" i18n="@@landing-welcomeBack">
        Welcome back to the Client Access Portal. It appears that you have started an application for Food Assistance.
        Now you can either:
    </p>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <p style="font-style: italic;" i18n="@@select">
                select
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <p i18n="@@linkExistingCaseIf">
                <b>
                    Link Existing Case if:
                </b>
            </p>
            <ul>
                <li>
                    You have an existing case with Alabama DHR's Food Assistance Program
                </li>
                <li>
                    You are applying for Recertification
                </li>
            </ul>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <p>
                You can link your case using your case number and online access PIN. Your online access PIN can be found
                on the Interview Summary, which was either given to you at the time of interview or was mailed to your
                address on file. If you do not have a PIN, you can contact your local county office. A worker will be
                able to give you your assigned PIN.
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 2%;">
        <div class="col-4"></div>
        <div class="col-4">
            <p i18n="@@linkExistingCaseIf">
                <b>
                    Resume Application if:
                </b>
            </p>
            <ul>
                <li>
                    You have started an application and would like to resume where you left off
                </li>
            </ul>
        </div>
    </div>
    <hr class="line">
    <div class="section">
        <div class="btn btn-lg btn-primary" style="margin-right: 2%;" i18n="@@changePassword">Link Existing Application</div>
        <div class="btn btn-lg btn-primary"  i18n="@@changePassword">Resume Application</div>
    </div>
    <br>
</div>