<div class="container view-container border">
    <div class="view-body">
        <h1 i18n="@@getAssistance-header">Get Assistance</h1>
        <h2 class="getAssistance-section-title" i18n="@@getAssistance-voiceResponseSystem">Voice Response System</h2>
        <p>
            Montgomery Area: (334) 242-0143
        </p>
        <p>
            Outside Montgomery Area: 1 (800) 382-0499O
        </p>
        <h2 class="getAssistance-section-title" i18n="@@getAssistance-foodAssistanceDivision">Food Assistance
            Division
        </h2>
        <p>
            Food Assistance Program: (334) 242-1700
        </p>
        <p>
            Outside Montgomery Area: (866) 465-2285
        </p>
        <h2 class="getAssistance-section-title" i18n="@@getAssistance-email">Email</h2>
        <p>
            fs@dhr.alabama.gov
        </p>
        <p class="h2 getAssistance-section-title" i18n="@@getAssistance-email">Mailing</p>

            <span style="white-space: pre-line"><p>
                Alabama Department of Human Resources<br>
                Food Assistance Division<br>
                50 North Ripley Street<br>
                Montgomery, Alabama 36130<br>
            </p></span>

    </div>
</div>