hr {
    border-top: 1px solid rgba(164, 92, 19, 0.4);
}

h1 {
    vertical-align: middle;
    padding-bottom: 15px;
    line-height: 50px;
    margin: 0px 0;
}

.form-section a {
    color: #a45c13;
    text-decoration: underline;
}

.form-section a:hover {
    color: #a45c13;
    text-decoration: underline;
}

.form-section a:visited {
    color: #a45c13;
    text-decoration: underline;
}

.form-section a:focus {
    color: #a45c13;
    text-decoration: underline;
}
