<div class="container view-container border">
    <div class="view-body">
        <p class="h1" i18n="@@learnMore-header">Learn More!</p>
        <p i18n="leanMore-description">This program is designed to raise the nutritional level of low income households.
            It enables low-income families to buy nutritious food through Electronic Benefits Transfer (EBT) cards.</p>
        <p class="h2 learnMore-section-title" i18n="@@learnMore-importantLinks"> Important Links</p>
        <p>
            <a class="nav-link" href="https://www.fns.usda.gov/snap/retailer-locator"
                aria-disabled="true">Retailers</a>-Retailers that accept EBT Cards
        </p>
        <p>
            <a class="nav-link" href="https://dhr.alabama.gov/county-office-contact/" aria-disabled="true">County
                Offices</a>- DHR county offices
        </p>
        <hr class="line">
        <p i18n="@@learnMore-eligibilityRules">
            The eligibility rules and benefit amounts, based on income and household size, are determined by
            regulations issued by the United States Department of Agriculture (USDA), Food and Nutrition Service.
            USDA is an equal opportunity provider and employer. Applications for the Food Assistance Program are
            available in all county DHR offices.
        </p>
        <p class="h2 learnMore-section-title">
            <a class="nav-link" href="https://www.fns.usda.gov/snap/retailer-locator">USDA Nondiscrimination
                Statement</a>
        </p>
    </div>
</div>

<!-- <div class="body col-md-9 col-md-offset-3">
    <div class="form-section">
        <div class="row form-section-content">
            <div class="col-md-12">
                <h1>
                    <i class="icon-lightbulb learn-header-icon"></i>
                    <span class="title">@HomeLearnMore.LearnMore</span>
                </h1>
            </div>
            <div class="col-md-12">
                <p i18n="leanMore-description">This program is designed to raise the nutritional level of low income households.
                    It enables low-income families to buy nutritious food through Electronic Benefits Transfer (EBT) cards.</p>
            </div>
            <div class="col-md-12">
                <h3 class="learnh3">@HomeLearnMore.ImportantLinks</h3>
            </div>
            <div class="col-md-12">
                @*<p><a href="http://www.snap-step1.usda.gov/fns/" target="_blank">@HomeLearnMore.PreScreenTool</a> @HomeLearnMore.DetermineQualify</p>*@
                <p><a href="http://www.snapretailerlocator.com/" target="_blank">@HomeLearnMore.Retailers</a> @HomeLearnMore.AcceptEBT</p>
                <p><a href="http://www.dhr.alabama.gov/counties/county_select.aspx" target="_blank">@HomeLearnMore.CountyOffices</a> @HomeLearnMore.DHRCountyOffices</p>
            </div>
            <div class="col-md-12">
                <hr />
            </div>
            <div class="col-md-12 margin-top10">
                <p><small>@HomeLearnMore.EligibilityRules</small></p>
                <h3><b><a>@HomeLearnMore.EligibilityHeader</a></b></h3>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</div> -->