<div class="container view-container border">
    <div class="view-body">
        <h1 i18n="@@signin-or-create-header">Sign In or Create Account</h1>
        <br>

        <p i18n="@@signin-or-create">
            You must sign in to MyDHR or create an account before you can apply for Food Assistance or view your
            account information.
        </p>

        <hr class="signin-line">
        <div class="section">
            <div class="btn btn-primary" i18n="@@submit" style="margin-right: 10px;"><a href="/home">Sign In</a></div>
            <div class="btn btn-primary" i18n="@@submit"><a href="/registration">Create Account</a></div>
        </div>
    </div>
</div>