<!--
    TODO:
    1. Implement 'isLoggedIn' logic for user account menu options
 -->
<app-store-nav-bar></app-store-nav-bar>
<div class="container" style="margin-top: 140px">
  <router-outlet></router-outlet>
</div>
<!--
<body data-spy="scroll" data-target=".subnav" data-offset="80">
    <div class="container">
        &lt;!&ndash; Main Navbar &ndash;&gt;
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../assets/images/Medium/myDHRLogo_medium.png" alt=""
                        class="d-inline-block align-middle mr-2">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Apply For Assistance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">View Your Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="home/learnmore" tabindex="-1" aria-disabled="true">Learn More</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Get Assistance</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-bs-toggle="dropdown"
                                aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown09">
                                <li><a class="dropdown-item" href="#">Apply For Assistance</a></li>
                                <li><a class="dropdown-item" href="#">View Your Account</a></li>
                                <li><a class="dropdown-item" href="#">Learn More</a></li>
                                <li><a class="dropdown-item" href="#">Get Assistance</a></li>
                            </ul>
                        </li>
                    </ul>
                    &lt;!&ndash; <form>
                        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    </form> &ndash;&gt;
                </div>
            </div>
        </nav>
        &lt;!&ndash; /main &ndash;&gt;
        &lt;!&ndash; Language/account navbar &ndash;&gt;
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarsExample05">
                    <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                        <li class="dropdown">
                            <button id="subnavLanguage" type="button" class="btn btn-link" style="width: 125px">
                                <img id="arrowIcon" src="../assets/images/SubNav/dropDownArrowLight.png">
                            </button>

                        </li>
                        <li>
                            <button id="subnavHelp" type="button" class="btn btn-link">
                                <img id="helpIcon" src="../assets/images/SubNav/utilityNavIconHelp.png">
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        &lt;!&ndash; language assistance &ndash;&gt;
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarsExample09">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            Language Assistance:
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<router-outlet>
    &lt;!&ndash; content goes here &ndash;&gt;
</router-outlet>
<footer class="bg-light text-center text-lg-start">
    &lt;!&ndash; Copyright &ndash;&gt;
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
    &lt;!&ndash; Copyright &ndash;&gt;
    </div>
</footer>
</div>
</body>-->
