<div class="container registration-container border">
    <div class="registration-body">
        <p class="h1" i18n="@@changePassword">Change Password</p>
        <div class="section">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3" i18n="@@userName"><label>Username</label> <input type="text"
                        class="form-control" required></div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3" i18n="@@oldPassword"><label>Old Password</label> <input type="text"
                        class="form-control" required></div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3" i18n="@@newPassword"><label>New Password</label> <input type="text"
                        class="form-control" required></div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3" i18n="@@confirmPassword"><label>Confirm Password</label> <input
                        type="text" class="form-control" required></div>
            </div>
        </div>
        <div class="btn btn-primary" i18n="@@submit" (click)="ChangePassword()">Submit</div>
    </div>
</div>