.registration-container {
    background-color: white;
}
.registration-body{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.section-title{
    color: #0e9d93;
}
.section{
    margin-top: 5%;
    margin-bottom: 5%;
}
.line{
    height: 4px;
    color: #0e9d93;
}