<div class="container mt-2">
  <div *ngIf="(basket$ | async) === null">
    basket is empty
  </div>

  <div *ngIf="(basket$ | async) as basket">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-reponsive">
              <table class="table">
                <thead>
                <tr>
                  <th class="border-0 bg-light" scope="col">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th class="border-0 bg-light" scope="col">
                    <div class="p-2 px-3 text-uppercase">
                      <div class="py-2 text-uppercase">Price</div>
                    </div>
                  </th>
                  <th class="border-0 bg-light" scope="col">
                    <div class="p-2 px-3 text-uppercase">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </div>
                  </th>
                  <th class="border-0 bg-light" scope="col">
                    <div class="p-2 px-3 text-uppercase">
                      <div class="py-2 text-uppercase">Total</div>
                    </div>
                  </th>
                  <th class="border-0 bg-light" scope="col">
                    <div class="p-2 px-3 text-uppercase">
                      <div class="py-2 text-uppercase">Remove</div>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of basket.items">
                  <th scope="row">
                    <div class="p-2">
                      <img class="img-fluid" src="{{item.pictureUrl}}" alt="{{item.productName}}" style="max-height: 50px">
                      <div class="ml-3 d-inline-block align-middle">
                        <div class="h5 mb-0">
                          <a routerLink="/shop/{{item.id}}" class="text-dark">
                          {{item.productName}}
                          </a>
                        </div>
                        <span class="text-muted font-weight-normal font-italic d-block">
                          Type: {{item.type}}
                        </span>
                      </div>
                    </div>
                  </th>
                  <td class="align-middle">
                    <strong>{{item.price | currency}}</strong>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex align-items-center">
                      <i (click)="DecrementItemQuantity(item)" class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer; font-size: 2em;"></i>
                      <span class="font-weight-bold" style="font-size: 1.5em">{{item.quantity}}</span>
                      <i (click)="IncrementItemQuantity(item)" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;"></i>
                    </div>
                  </td>
                  <td class="align-middle">
                    <div class="d-flex align-items-center">
                      <strong>{{item.price * item.quantity | currency}}</strong>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <div class="d-flex align-items-center">
                      <a class="text-danger"><i (click)="RemoveBasketItem(item)" class="fa fa-trash" style="font-size: 2em; cursor: pointer"></i></a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 offset-6">
<!-- Dont need to pass the total component any info. all comes from the basket service -->
          <app-order-totals></app-order-totals>
          <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">
            Checkout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
