<div class="container view-container border">
    <div class="view-body">
        <p class="h1" i18n="@@error-header">Error</p>
        <div class="section">
            <p i18n="@@error">
                Sorry, an error occurred while processing your request. If the error continues, please contact the Food
                Assistance Division during normal business hours (Monday-Friday, 8am-5pm) at 1-866-465-2285 (English 1,
                Spanish 2) (Menu Option 4).
            </p>
        </div>
        <div class="section">
            <div class="btn btn-primary" i18n="@@submit" style="margin-right: 10px;"><a href="/home">Return to Home Page</a></div>
        </div>
    </div>
</div>