.view-container {
    background-color: white;
}
.view-body{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.learnMore-section-title{
    color: rgb(153, 0, 51);
}
.section{
    margin-top: 5%;
    margin-bottom: 5%;
}
.line{
    height: 4px;
    color: rgb(153, 0, 51);
}