<!--
  use ngIf to check if breadcrumb$ observable exists
  use async pipe to automatically  subscribe to the observable
  when its destroyed, asyc will automatically unsibscribe for us
 -->
<ng-container *ngIf="(breadcrumb$ | async) as breadcrumbs">
  <section *ngIf="breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label !== 'Home'"
           class="py-5" style="margin-top: 105px; background-color: #f5f5f5">
    <div class="container">
      <div class="row">
        <div class="row d-flex align-items-center">
          <div class="col-9">
            <div class="h1">
              {{breadcrumbs.length > 0 && breadcrumbs[breadcrumbs.length-1].label | titlecase}}
            </div>
          </div>
          <div class="col-3">
            <xng-breadcrumb></xng-breadcrumb>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

