<carousel>
  <slide>
    <img src="assets/store/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/store/hero2.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/store/hero3.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <div class="h1">
      Welcome to the Shop!
    </div>
  </div>
</section>
