<div class="container registration-container">
    <p class="h1" style="text-align: center;">Registration Successful!</p>
    <br>
    <p style="text-align: center;">
        Your account has been registered but requires activation. An activation email has been sent to the provided email address. Please follow the instructions to activate your new account.
    </p>
    <div class="row">
        <div class="btn btn-primary" i18n="@@submit"> Return To Home page <a routerLink="" class="nav-link" routerLinkActive="active"></a></div>
    </div>
</div>